@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #d38312; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a83279,
    #d38312
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a83279,
    #d38312
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

#searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

#searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #252525;
  background: #252525;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container {
  margin-top: 500px;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  text-align: center;
}
#card-title {
  margin-bottom: 10px;
}

#card-text {
  margin-left: 20px;
}
.error {
  text-align: center;
  margin: 10px auto;
  width: 400px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 10s, opacity 10s linear;
}

.main {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 200px;
  box-shadow: 0px 0px 5px 2px black;
  border-radius: 10px;
}
.tile {
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: 0px 0px 4px 2px black;
  border-radius: 10px;
  background: #d38312;
}
.tile1 {
  animation: load 1s infinite alternate linear;
  border-radius: 10px;
}

@keyframes load {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}

.cast-col {
  float: left;
  width: 33.33%;
  padding: 7px;
}
.cast-row {
  padding-left: 50px;
  padding-right: 50px;
}
