body {
  margin: 0;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.988);
  box-sizing: border-box;
}
/* Navbar */
.navbar-header {
  text-align: center;
  width: 100%;
}

/* Error Alert */
.error {
  text-align: center;
  margin: 10px auto;
  width: 400px;
  display: block;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 10s, opacity 10s linear;
}
/* Loading  */
.main {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 200px;
  box-shadow: 0px 0px 5px 2px black;
  border-radius: 10px;
}
.tile {
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: 0px 0px 4px 2px black;
  border-radius: 10px;
  background: rgba(0, 200, 117, 0.42);
}
.tile1 {
  animation: load 1s infinite alternate linear;
  border-radius: 10px;
}

@keyframes load {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}
/* Search */
.container {
  display: flex;
  justify-content: center;
}
.main-container {
  /* border: 2px solid red; */
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-bar {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}
.searched-term {
  border: none;
  width: 200px;
  background-color: black;
  color: aliceblue;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  height: 15px;
}
.searched-term:focus {
  outline: none;
  border: solid 1px rgba(0, 200, 117, 0.42);
  box-shadow: 0 0 25px rgba(0, 200, 117, 0.906);
}
.search-btn {
  background-color: black;
  color: aliceblue;
  margin-left: 15px;
  border-radius: 50%;
}
.search-btn:focus {
  outline: none;
  box-shadow: 0 0 25px rgba(0, 200, 117, 0.906);
}
/* 
Show Tab 
*/
.nav-link {
  color: aliceblue;
}
.info-card {
  position: absolute;
  top: 100px;
}
.info-card img {
  width: 50%;
  height: 50%;
  margin: 10px auto;
}

.next-ep {
  margin-top: 2rem;
}
/* 
Cast Tab 
*/
.card-body.cast-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 450px) {
  .main-container {
    width: 80%;
  }
  .info-card {
    margin: 10px;
  }
}
