body {
  background-color: rgba(28, 28, 28, 0.988);
}
/* Navbar */
.navbar-header {
  text-align: center;
  width: 100%;
}
.jumbotron {
  position: absolute;
  top: 200px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  margin: 0 auto;
  background: url("https://assets3.thrillist.com/v1/image/2741029/size/gn-gift_guide_variable_c.jpg")
    no-repeat center center/cover;
  box-shadow: 0 0 15px rgba(0, 200, 117, 0.42);
}
.jumbotron .content {
  width: 40%;
}
.jumbotron h1,
p {
  display: block;
  color: white;
  font-weight: bold;
}
.jumbotron .lead {
  margin-top: -10px;
}
.jumbotron .lead i {
  margin-left: 2px;
}
.jumbotron .lead:hover i {
  margin-left: 10px;
}
@media (max-width: 1100px) {
  .jumbotron {
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 800px) {
  .jumbotron {
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
  }
  .jumbotron .content {
    width: 20%;
  }
}
@media (max-width: 600px) {
  * {
    font-size: smaller;
  }
  .jumbotron {
    background: url("");
  }
  .jumbotron .content {
    width: 100%;
    margin: 0 auto;
  }
}
